@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-ink font-mono antialiased;
  }
}

.pattern-grid {
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 20px 20px;
}
